main {
  display: flex;
  flex-flow: column;
  width: auto;
}

#uc .container {
  width: 90%;
  display: flex;
  flex-flow: column;
  align-items: center;
  background: rgba(245, 245, 245, 0.7);
}
article {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: space-between;
  width: 90%;
  margin: 2em 5em;
  padding: 1em 1.5em;
  color: hsl(0, 0%, 20%);
  transition: 0.4s;
  height: 15em;
}

article:hover {
  transform: scale(1.04);
  cursor: pointer;
}

h3[itemprop="description"] {
  width: 25%;
}
#uc p {
  width: fit-content;
}

#uc div {
  border-radius: 20px;
  box-shadow: 2px 2px 6px rgb(118, 118, 118);
}

.clavier {
  height: 95%;
  width: 15em;
  background: url(../assets/img/keyboard.webp) no-repeat center/cover;
}

.screen {
  height: 95%;
  width: 15em;
  background: url(../assets/img/screen.webp) no-repeat center/cover;
}

.laptop {
  height: 95%;
  width: 15em;
  background: url(../assets/img/laptop.webp) no-repeat center/cover;
}

.mouse {
  height: 95%;
  width: 15em;
  background: url(../assets/img/mouse.webp) no-repeat center/cover;
}

.pc {
  height: 95%;
  width: 15em;
  background: url(../assets/img/pc.webp) no-repeat center/cover;
}
.pack {
  height: 95%;
  width: 15em;
  background: url(../assets/img/pack.webp) no-repeat center/cover;
}
