main {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: space-between;
  text-align: justify;
  height: 100%;
  backdrop-filter: blur(5px);
}
section {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40%;
  margin: 1.5em;
  padding: 1.5em;
  height: 15em;
  font-weight: bold;
  text-align: center;
  line-height: 2em;
  animation: appear 1s cubic-bezier(0.29, 0.79, 0.31, 0.2);
}
article {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 40%;
  margin: 1.5em;
  border-radius: 10px;
}
h3 {
  font-size: 2em;
  width: 75%;
  padding-bottom: 0.5em;
  text-align: center;
  border-bottom: 1px solid #242423;
}
figure {
  text-align: center;
  margin: 0;
  font-size: 0.8em;
  font-weight: bold;
  width: 75%;
  transition: 1s;
  animation: appear 1s cubic-bezier(0.29, 0.79, 0.31, 0.2);
}
@keyframes appear {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
img[src="../../assets/img/keyboard.webp"] {
  width: 20vw;
  border-radius: 10px;
  box-shadow: 0 2px 5px hsla(120, 2%, 20%, 0.5);
}
h4 {
  width: 100%;
  font-size: 1.5em;
  font-weight: bolder;
  text-align: center;
}
