@import "./normalize\ css";
@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@100&display=swap");

body {
  font-family: "Raleway", sans-serif;
  margin: 0;
  padding: 0;
  height: auto;
  background: #edede9;
}
header {
  display: flex;
  flex-direction: row wrap;
  align-items: center;
  justify-content: space-between;
  margin: 0;
  padding-right: 1.5rem;
  padding-left: 1.5rem;
  width: auto;
  height: 15vh;
  background-color: #d6ccc2;
}
main {
  display: flex;
  flex-direction: row wrap;
  align-items: center;
  justify-content: space-evenly;
  width: auto;
  height: 80vh;
}
footer {
  display: flex;
  flex-direction: row wrap;
  align-items: center;
  justify-content: space-around;
  margin: 0;
  padding: 0;
  width: auto;
  height: 5vh;
  background-color: #d5bdaf;
}

.card {
  border: 2px solid red;
  width: 25%;
  height: 50vh;
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: center;
}
img[src="./assets/img/keyboard.webp"] {
  width: 12vw;
  border-radius: 10px;
  box-shadow: 2px 2px 6px hsla(0, 0%, 24%, 0.451);
}
.description {
  /* border: 2px solid blue; */
  border-radius: 25px;
  box-shadow: 2px 2px 6px hsla(0, 0%, 24%, 0.451);
  width: 25%;
  height: fit-content;
  text-align: center;
  padding: 1em;
  font-weight: bold;
  line-height: 1.8em;
  background: #d6ccc2;
}
